<style>
  /* Add this to your styles */
.navbar-collapse {
  background-color: white;
  width: 100%;
  padding: 1rem;
  z-index: 1000;
}

  .nav-search-box{
    border-radius: 2rem;
    width: 20rem;
    height: 3rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
  }
  .nav-search-btn i{
    color: #fff;
    display: inline;
    margin-right: 0.5rem;
  }
  .nav-search-btn{
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 2rem;
    color: #fff;
    background-color: #2563EB;
  }
  .nav-search-btn:hover{
    background-color: #da4167 !important;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-body-tertiary" id="navbarNavAltMarkup">

          <div class="navbar-nav me-auto">
            <a class="nav-link" href="/listings">Explore</a>
            <a class="nav-link" href="/listings/new">Tourify your home</a>
          </div>

          <div class="nav-search">
            <form action="/listings/search?country" method="get" class="d-flex" role="search">
              <input class="form-control me-2 nav-search-box" type="search" placeholder="Search destination by country" name="country">
              <button class="btn btn-outline-success nav-search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
            </form>
          </div>

          <div class="navbar-nav ms-auto">
            <% if(!currUser) { %>
              <a class="nav-link text-primary fw-semibold me-3" href="/signup">Sign up</a>
              <a class="nav-link text-primary fw-semibold me-5" href="/login">Log in</a>
            <% } %>
            <% if(currUser) { %>
              <a class="nav-link text-primary fw-semibold me-5" onclick="return confirm('Are you sure you want to log out?');" href="/logout">Log out</a>
            <% } %>
          </div>
          
        </div>
      </div>
    </nav>